<div class="owl-carousel">
  <div class="item"><h1><%= link_to(image_tag("1.png")) %></h1></div>
  <div class="item"><h1><%= link_to(image_tag("2.png")) %></h1></div>
  <div class="item"><h1><%= link_to(image_tag("3.png")) %></h1></div>
  <div class="item"><h1><%= link_to(image_tag("4.png")) %></h1></div>
</div>
<p>
<div class="item"><h1><%= link_to(image_tag("5.png")) %></h1></div>
</p>